@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-image: url("assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 105% -7%;
}

body::-webkit-scrollbar {
  display: none;
}

.slick-track {
  display: flex;
  gap: 1rem;
}
@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 600px;
  }
}
